@import url("https://fonts.googleapis.com/css?family=Space+Mono");
* {
  font-family: 'space mono';
  font-size: 20px;
  box-sizing: border-box;
  color: white; }

html, body {
  height: 100%;
  margin: 0; }

#origin,
#origin > div {
  height: 100%;
  background-color: black; }

#homeContainer {
  min-height: 100%; }

#sidebar {
  display: inline-block;
  width: 20%;
  border: .01em solid white;
  box-shadow: .25em .25em .5em #333333;
  text-align: center;
  height: 100vh;
  padding: 2em 0; }

.tab {
  line-height: 6em;
  vertical-align: middle;
  transition-property: background-color, border-radius, color;
  transition-duration: 0.5s;
  transition-timing-function: ease-out; }

.tab:hover {
  background-color: #363636;
  border-radius: 0.7em;
  color: cornflowerblue; }

.tab:active {
  background-color: white; }

#mainContent {
  display: inline-block;
  width: 80%;
  height: 100vh;
  padding: 0 2em; }
