@import url("https://fonts.googleapis.com/css?family=Space+Mono");
#projectsContent {
  background-color: black;
  min-height: 100%;
  display: flex; }

.projectsContainer {
  width: 115vh;
  margin: 2em 0; }
  .projectsContainer img {
    width: 65%; }
  .projectsContainer .title {
    font-size: 28px;
    margin: 1em 0 .8em 0; }
  .projectsContainer .description {
    margin: 0 0.5em; }
  .projectsContainer .iconRow {
    margin: 0.5em 0; }
  .projectsContainer a {
    margin: 0 .25em; }
    .projectsContainer a img {
      border-radius: 5em;
      width: 4%;
      transition-duration: 1s; }
    .projectsContainer a img:hover {
      background-color: gold; }

* {
  font-family: 'space mono';
  font-size: 20px;
  box-sizing: border-box;
  color: white; }

html, body {
  height: 100%;
  margin: 0; }

#origin,
#origin > div {
  height: 100%;
  background-color: black; }

#homeContainer {
  min-height: 100%;
  max-width: 400%; }

#sidebar {
  display: inline-block;
  width: 20%;
  box-shadow: .25em .25em .5em #333333;
  text-align: center;
  height: 100vh;
  padding: 2em 0; }

.tab {
  line-height: 6em;
  vertical-align: middle;
  transition-property: background-color, border-radius, color;
  transition-duration: 0.5s;
  transition-timing-function: ease-out; }

.tab:hover {
  background-color: #363636;
  border-radius: 0.7em;
  color: gold; }

.tab:active {
  background-color: white; }

#main {
  display: inline-block;
  vertical-align: top;
  width: 80%;
  height: 100vh; }

.wrapper {
  height: 100%;
  overflow: hidden;
  position: relative; }

.content {
  position: absolute;
  padding: 0 2em;
  text-align: center; }
  .content p {
    margin: 2em;
    text-align: center; }

.hiddenWrapper {
  width: 0;
  height: 0; }

#mainContent {
  text-align: center; }
  #mainContent p {
    margin: 2em; }

.listContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: left; }

.listTitle {
  padding: 0 0 .5em 0; }

.list li {
  font-size: 18px;
  color: grey; }

.list li:hover {
  color: white; }

#storyTag {
  color: grey; }

#storyTag:hover {
  color: gold; }

#story:hover ~ #intro p {
  color: grey; }

@keyframes slide {
  0% {
    left: 20%; }
  100% {
    left: 100%; } }

.animateWindow {
  animation: slide 0.3s forwards; }

@keyframes slideBack {
  0% {
    left: 100%; }
  100% {
    left: 0%; } }

.resetWindow {
  animation: slideBack 0.3s forwards; }
