#projectsContent {
  background-color: black;
  height: 100%;
  display: flex; }

.projectsContainer {
  width: 60vw; }
  .projectsContainer img {
    width: 65%;
    margin-top: 2em; }
  .projectsContainer .title {
    font-size: 28px;
    margin: .8em 0 .8em 0; }
  .projectsContainer .description {
    margin: 0 0.5em; }
  .projectsContainer .tools {
    margin: 2em 0 0 0; }
  .projectsContainer .iconRow {
    margin: 0.5em 0; }
  .projectsContainer .miniIcons {
    display: inline-block;
    background-color: #1F1E1C;
    border-radius: 3em;
    width: 18%;
    padding: .2em .3em 0 .3em; }
  .projectsContainer a {
    margin: 0 .25em; }
    .projectsContainer a img {
      border-radius: 5em;
      width: 25%;
      transition-duration: 1s;
      margin-top: 0; }
    .projectsContainer a img:hover {
      background-color: gold; }
