#projectsWrapper {
  // max-height: 80vh;
  // display: flex;
}

#projectsContent {
  background-color: black;
  height: 100%;
  display: flex;
}

.projectsContainer {
  width: 60vw;
  // height: 90%;
  // margin: 2em 0 0 0;
  img {
    width: 65%;
    margin-top: 2em;
  }
  .title {
    font-size: 28px;
    margin: .8em 0 .8em 0;
  }
  .description {
    margin: 0 0.5em;
  }
  .tools {
    margin: 2em 0 0 0;
  }
  .iconRow {
    margin: 0.5em 0;
    // height: 100%;
    // background-color: darkslategrey;
  }
  a {
    margin: 0 .25em;
    img {
      border-radius: 5em;
      width: 4%;
      transition-duration: 1s;
      margin-top: 0;
    }
    img:hover{
      background-color: gold;
    }
  }
}
