#projectsContent {
  background-color: black;
  height: 100%;
  display: flex;
}

.projectsContainer {
  width: 60vw;
  img {
    width: 65%;
    margin-top: 2em;
  }
  .title {
    font-size: 28px;
    margin: .8em 0 .8em 0;
  }
  .description {
    margin: 0 0.5em;
  }
  .tools {
    margin: 2em 0 0 0;
  }
  .iconRow {
    margin: 0.5em 0;
  }
  .miniIcons {
    display: inline-block;
    background-color: #3B3935;
    border-radius: 3em;
    width: 18%;
    padding: .2em .3em 0 .3em;
  }
  a {
    margin: 0 .25em;
    img {
      border-radius: 5em;
      width: 25%;
      transition-duration: .3s;
      margin-top: 0;
    }
    img:hover{
      background-color: gold;
    }
  }
}
